actividad_13/actividad13.dtd

<!ELEMENT email (mensaje+)>
<!ELEMENT mensaje (remite, destinatario, texto)>
<!ELEMENT remite (email_remitente)>
<!ELEMENT email_remitente (#PCDATA)>
<!ELEMENT destinatario (email_destinatario)>
<!ELEMENT email_destinatario (#PCDATA)>
<!ELEMENT texto (parrafo+)>
<!ELEMENT parrafo (#PCDATA)>
<!ATTLIST mensaje asunto CDATA #REQUIRED>
<!ATTLIST destinatario nombre CDATA #REQUIRED>
<!ATTLIST remite nombre CDATA #REQUIRED>